.note-item {
  box-sizing: border-box;
  padding: 0.5rem;
  border-left: 0.5rem solid transparent;
  margin-bottom: 0 !important;
  transition: all 120ms ease-in-out;
  cursor: pointer;
}

.note-item:hover {
  background-color: #d7f9f4;
  border-color: hsl(171, 100%, 41%);
}

.note-title {
  display: inline-block;
}

.note-delete {
  float: right;
  transition: all 120ms ease-in-out;
}

.add-note-button {
  position: relative;
  height: 1.33rem !important;
  width: 1.33rem !important;
  margin-left: 0.2rem !important;
  top: 5px;
  fill: hsl(171, 100%, 41%);
}

.clickable {
  cursor: pointer;
}
